@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.button {
  border-radius: 8px;
  background-color: #f8df1f;
  font-weight: 500;
  text-transform: uppercase;
}
.button:hover {
  background-color: white;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
