@import "main";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//text

.text {
    font-family: 'Roboto', sans-serif;
    color: @black;
  }
 
  .sm {
      .text();
     font-size: @sm;
     font-weight: 400;
  }

  .md {
      .text();
      font-size: @md;
      font-weight: 500;
      text-transform: uppercase;
  }

  .lg {
      .text();
      font-size: @lg;
      font-weight: 500;
      text-transform: uppercase;
  }

  //flex

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-section {
    display: flex;
    padding: 4% 7%;
    align-items: center;
  }

  .flex-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 7%;
  }
